{% extends 'base.html' %}
{% load static i18n %}
{% get_current_language as LANG_CODE %}

{% block title %}{% trans "Payment Success" %}{% endblock title %}


{% block content %}

    <div class="container p-2 mt-5 text-center" {% if LANG_CODE == "ar" %}dir="rtl"{% endif %}>
        <div class="payment-content p-3">
            <i style="font-size:72px;" class="far fa-check-circle text-success m-2"></i>
            <h3>{% trans "Payment Success" %}!</h3>
            <p>{% trans "Your payment was successfull" %}, {% trans "You can now continue using" %} "elamanecc.com.dz"</p>
            <p>{% trans "Or you can visit" %} <a href="{% url 'orders-list' %}">{% trans "My Orders" %}</a></p>
            <hr>
            <h4>{% trans "Order Details" %}</h4>
            <div class="row justify-content-center">
                <div class="col-auto">
                    {% include "page/success_table.html" %}
                </div>
            </div>
            <span>{% trans "The SATIM 3020 toll-free number" %}<span/> <img alt="3020" src="https://certweb.satim.dz/img/3020.png">
        </div>
    </div>

{% endblock content %}