{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eurl Entreprise Elamane Communication Et Contact</title>
</head>
<body style="overflow:hidden;background-color:black;height:100vh;display:flex;justify-content:center;align-items:center;flex-direction:column;color:white;">
    <img style="width:70%" src="{% static 'logo/logo.svg' %}" alt="Eurl Entreprise Elamane Communication Et Contact">
    <h3>The site is currently under maintenance</h3> 
    <h3>الموقع تحت الصيانة حاليا</h3>
    <h3>Le site est actuellement en maintenance</h3>
</body>
</html>