<script>

    let wilayaInput = $('#id_wilaya')
    let oldCommuneValue = $('#id_commune').val()

    let getCommunesByWilaya = (wilayaID) => {
        // Get communes Input
        let communesInput = $('#id_commune')
        // Create communes template
        let template = ''
        if (wilayaID) {
            $.get( `/api/v1/wilaya/${wilayaID}/`, function( data ) {
                template = '<select name="commune" id="id_commune" class="select form-control">'
            })
            .done(function(response) {
                response.data.forEach(item => template += `<option value="${item.id}">${item.name}</option>`)
            })
            .fail(function(error) {
                swal.fire( "لم نتمكن من عرض البلديات الخاصة بهاذه الولاية، جرب مرة أخرى" );
            })
            .always(function() {
                template += "</select>"
                communesInput.html(template)
                $('#id_commune').val(oldCommuneValue)
            });
        }
    }

    $(document).ready(function(){
        getCommunesByWilaya(wilayaInput.val())
    })

    wilayaInput.change(() => {
        getCommunesByWilaya(wilayaInput.val())
    })
</script>